{{k1}}
{{k2}}
{{yyyy}}-{{MM}}-{{dd}} {{HH}}:{{mm}}:{{ss}}
{{packageModel.name}}
{{classModel.name}}
{{classModel.simpleName}}
annotations:
{{#annotations}}
{{name}}
{{/annotations}}

{{#methodModels}}
method:{{name}}{{overrideIndex}}
method:{{isPublic}}
method:{{isProtected}}
method:{{isStatic}}
method:{{isFinal}}
method:{{isPublic}}
method:{{isVolatile}}
method:{{isTransient}}
method:{{isInterface}}
method:{{retType.name}}
param types:
{{#paramTypes}}
{{name}}
{{/paramTypes}}
annotations:
{{#annotations}}
{{name}}
{{/annotations}}

{{/methodModels}}

{{#fieldModels}}
field:{{name}}
field:{{type.name}}
annotations:
{{#annotations}}
{{name}}
{{/annotations}}
{{/fieldModels}}

=============================================